# Twilio Configuration - Hard coded for testing
TWILIO_ACCOUNT_SID=ACe72d254d10d2908a66bcccac47de4c7a
TWILIO_AUTH_TOKEN=5f946564298bb5b4bf0fda439c7d14ac
TWILIO_VERIFY_SERVICE_SID=VAe01f327a2e9969f7ec67ea08a4026de6

# Environment
NODE_ENV=development